pre code, code {
    font-family: code new roman, monospace;
}

pre code, code {
    font-family: code new roman, "PingFang SC", "Noto Sans SC", "Microsoft YaHei", sans-serif;
}

.highlight code {
    font-family: "PingFang SC", "Noto Sans SC", "Microsoft YaHei", sans-serif !important;
}
