<header class="header">
    <nav class="nav">
        <div class="logo">
            <a href="https://zhouyibin8.github.io/en/" accesskey="h" title="Home (Alt + H)">Home</a>
            <span class="logo-switches">
                <button id="theme-toggle" accesskey="t" title="(Alt + T)">
                    <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                    </svg>
                    <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="12" cy="12" r="5"></circle>
                        <line x1="12" y1="1" x2="12" y2="3"></line>
                        <line x1="12" y1="21" x2="12" y2="23"></line>
                        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                        <line x1="1" y1="12" x2="3" y2="12"></line>
                        <line x1="21" y1="12" x2="23" y2="12"></line>
                        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                    </svg>
                </button>
                <ul class="lang-switch"><li>|</li>
                    <li>
                        <a href="https://zhouyibin8.github.io/zh/" title="中文🇨🇳"
                            aria-label="中文🇨🇳">中文🇨🇳</a>
                    </li>
                </ul>
            </span>
        </div>
        <ul id="menu">
            <li>
                <a href="https://zhouyibin8.github.io/en" title="Home">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="https://zhouyibin8.github.io/en/about" title="About">
                    <span class="active">About</span>
                </a>
            </li>
            <li>
                <a href="https://zhouyibin8.github.io/en/projects" title="Projects">
                    <span>Projects</span>
                </a>
            </li>
                        <li>
                <a href="https://zhouyibin8.github.io/en/resume" title="Resume">
                    <span>Resume</span>
                </a>
            </li>
            <li>
                <a href="https://zhouyibin8.github.io/en/blog" title="Blog">
                    <span>Blog</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
