<!DOCTYPE html>
<html lang="en" dir="auto">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ page.title }} | Yibin&#39;s Blog</title> 
<meta name="keywords" content="{{ page.keywords }}">
<meta name="description" content="{{ page.description }}">
<link rel="canonical" href="https://zhouyibin8.github.io/en/about/">

</head>

<body class=" dark" id="top">
<script>
    if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    }
</script>

{% include header.html %}

<main class="main">
        {{ content }} 
</main>
    
{% include footer.html %}
