<!DOCTYPE html>
<html lang="en" dir="auto">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">

<title>{{ page.title }} | Yibin&#39;s Blog</title>
<meta name="keywords" content="{{ page.keywords }}">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="Berry">

<link rel="canonical" href="https://zhouyibin8.github.io/en/about/">
<link crossorigin="anonymous" href="/assets/css/stylesheet.min.5fba7659f49a2f7ca0ce86b7611a869462aadd4a57aa486975cf60e413fa7b0f.css" integrity="sha256-X7p2WfSaL3ygzoa3YRqGlGKq3UpXqkhpdc9g5BP6ew8=" rel="preload stylesheet" as="style">
<script defer crossorigin="anonymous" src="/assets/js/highlight.min.f61a30837a1dd79c8e15931b0916e2469274f1900212a78e5fcc9b3d40026a16.js" integrity="sha256-9howg3od15yOFZMbCRbiRpJ08ZACEqeOX8ybPUACahY="
    onload="hljs.initHighlightingOnLoad();"></script>
<link rel="icon" href="https://zhouyibin8.github.io/k-48.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://zhouyibin8.github.io/k-48.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://zhouyibin8.github.io/k-48.png">
<link rel="apple-touch-icon" href="https://zhouyibin8.github.io/k-48.png">
<link rel="mask-icon" href="https://zhouyibin8.github.io/k-48.png">
<meta name="theme-color" content="#2e2e33">
<meta name="msapplication-TileColor" content="#2e2e33">
<link rel="alternate" hreflang="en" href="https://zhouyibin8.github.io/en/about/">
<link rel="alternate" hreflang="en" href="https://enouyibin8.github.io/en/about/">
<noscript>
    <style>
        #theme-toggle,
        .top-link {
            display: none;
        }

    </style>
</noscript>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">


<link href="https://fonts.cdnfonts.com/css/code-new-roman" rel="stylesheet"><meta property="og:title" content="About me 👋" />
<meta property="og:description" content="class Me: def __init__(self): self.name = &#34;Yibin enou&#34; self.prefer_name = &#34;Berry&#34; self.born_year = 2000 self.MBTI = ENFJ self.hometown = &#34;Changsha, Hunan, CN&#34; self.curr_location = &#34;New York, NY, US&#34; self.grad_school = &#34;Columbia University&#34; self.undergrad_school = &#34;Macau University of Science and Technology&#34;" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://enouyibin8.github.io/en/about/" /><meta property="article:section" content="" />
<meta property="article:published_time" content="2023-10-10T14:39:46-04:00" />
<meta property="article:modified_time" content="2023-10-10T14:39:46-04:00" /><meta property="og:site_name" content="Berry" />

<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="About me 👋"/>
<meta name="twitter:description" content="class Me: def __init__(self): self.name = &#34;Yibin Zhou&#34; self.prefer_name = &#34;Berry&#34; self.born_year = 2000 self.MBTI = ENFJ self.hometown = &#34;Changsha, Hunan, CN&#34; self.curr_location = &#34;New York, NY, US&#34; self.grad_school = &#34;Columbia University&#34; self.undergrad_school = &#34;Macau University of Science and Technology&#34;"/>


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position":  1 ,
      "name": "About me 👋",
      "item": "https://zhouyibin8.github.io/en/about/"
    }
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "About me 👋",
  "name": "About me 👋",
  "description": "class Me: def __init__(self): self.name = &#34;Yibin Zhou&#34; self.prefer_name = &#34;Berry&#34; self.born_year = 2000 self.MBTI = ENFJ self.hometown = &#34;Changsha, Hunan, CN&#34; self.curr_location = &#34;New York, NY, US&#34; self.grad_school = &#34;Columbia University&#34; self.undergrad_school = &#34;Macau University of Science and Technology&#34;"/>
  "keywords": [
    "About", "Yibin", "Berry"
  ],
  "articleBody": "class Me: class Me: def __init__(self): self.name = &#34;Yibin Zhou&#34; self.prefer_name = &#34;Berry&#34; self.born_year = 2000 self.MBTI = ENFJ self.hometown = &#34;Changsha, Hunan, CN&#34; self.curr_location = &#34;New York, NY, US&#34; self.grad_school = &#34;Columbia University&#34; self.undergrad_school = &#34;Macau University of Science and Technology&#34;"/>
  "wordCount" : "35",
  "inLanguage": "en",
  "datePublished": "2023-10-10T14:39:46-04:00",
  "dateModified": "2023-10-10T14:39:46-04:00",
  "author":{
    "@type": "Person",
    "name": "Berry"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://zhouyibin8.github.io/en/about/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Berry's Blog",
    "logo": {
      "@type": "ImageObject",
      "url": "https://zhouyibin8.github.io/k-48.png"
    }
  }
}
</script>
</head>

<body class=" dark" id="top">
<script>
    if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    }

</script>

{% include header.html %}

<main class="main">
    {{ content }} 
</main>
    
{% include footer.html %}
